<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="knowlegeboxserver">
        <wb-resource deploy-path="/" source-path="/src/main/java"/>
        <wb-resource deploy-path="/" source-path="/src/main/resources"/>
        <wb-resource deploy-path="/" source-path="/src/test/java"/>
        <property name="context-root" value="knowlegeboxserver"/>
        <property name="java-output-path" value="/knowlegeboxserver/target/classes"/>
    </wb-module>
</project-modules>
